
@model CardViewModel
    <input type="hidden" value="@Model.Id"/>
    <div class="cardName" >
        @Model.Name   
    </div>
    <div class="cardImage">
        <img src="@String.Format("data:image/gif;base64,{0}", Model.Uploader.ImageBase64String)"/>
    </div>
    <div class="cardDescription">
        @Model.Description
    </div>
    <div class="cardValues"  data-card-health="@Model.Health" data-card-attack="@Model.Attack">
        <div class="cardAttackVal">ATK: @Model.Attack</div> <div class="cardHealthVal">HP: @Model.Health</div>
    </div>

