<!DOCTYPE html>
<html lang="en">
<head>
   
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - RealCard</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/590950580f.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.8.5/jquery-ui.min.js" integrity="sha256-fOse6WapxTrUSJOJICXXYwHRJOPa6C1OUQXi7C9Ddy8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/Game.css" />
        <link rel="stylesheet" href="~/css/Layout.css" />
        <link rel="stylesheet" href="~/css/DataTableCSS.css" />
        <script src="~/js/layout.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
        <script src="/js/GameRepo.js"></script>
  
    <environment exclude="Development"></environment>
</head>
<body>
    <div class="container-fluid">
        <header>
        <div class="row">
            <div id="logo"></div>
        </div>
        <div class="row">
            <div class="topnav" id="snetTopnav">
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="@Url.Action("Index", "User")">Profile</a>
                    <a href="/game">Play</a>
                    <a asp-controller="Auth" asp-action="Logout" class="right" method="get">Logout</a>
                }
                else
                {
                    <a asp-controller="Auth" asp-action="Login" class="right">Login</a>
                    <a asp-controller="Auth" asp-action="Register" class="right">Register</a>
                }
                @if (User.IsInRole("Admin"))
                {
                    <a class="right" href="@Url.Action("Index", "Card")">Manage Cards</a>
                    <a class="right" href="@Url.Action("UserList", "User")">Manage Users</a>
                }
                else if(User.IsInRole("Moderator")) {
                    <a class="right" href="@Url.Action("UserList", "User")">Manage Users</a>
                }


                <a href="javascript:void(0);" class="icon" onclick="dropDownMenu()">
                    <i class="fas fa-bars"></i>
                </a>
            </div>
            </div>
        </header>
        <div class="row">
            <div class="container-fluid">
                <div class="col-md-12" id="pagecontent">
                    @RenderBody()
                    @RenderSection("scripts", required: false)
                </div>
            </div>
        </div>
    </div>
</body>
</html>