@using Newtonsoft.Json
@model DeckViewModel
<div id="deckDetailPage" data-deck-id="@Model.Id">
    @Html.AntiForgeryToken();
    <div class="cardSection" id="cardPage">
        @foreach (CardViewModel cvm in Model.Cards)
        {
            <div class="cardContainer" data-card-id="@cvm.Id" data-card-name="@cvm.Name">
                @{ await Html.RenderPartialAsync("_Card", cvm); }
            </div>
        }
    </div>
    <div class="chosenCards">

    </div>
    <div class="cardPagination">
        <div class="goBack">Back</div>
        <div class="saveDeck">Save Deck</div>
        <input type="text" class="deckName" value="@Model.Name" />
    </div>
</div>


<script>
    $(document).ready(function () {
        var deckId = $("#deckDetailPage").data("deck-id");
        GetDeckById(deckId);
    });
</script>
<script src="js/DeckSave.js"></script>